# List Comprehensions

Let's learn about list comprehensions! You are given three integers x,y and z representing the dimensions of a cuboid along with an integer n . Print a list of all possible coordinates given by (i,j,k) on a 3D grid where the sum of i+j+k is not equal to n.

0<=i<=x

o<=j<=y

0<=k<=z

Please use list comprehensions rather than multiple loops, as a learning exercise.

In [2]:
x = int(input("enter x : "))
y = int(input("enter y : "))
z = int(input("enter z : "))
n = int(input("enter n : "))

list = [[X, Y, Z] for X in range(x+1) for Y in range(y+1) for Z in range(z+1) if (X + Y + Z) != n]
print(list)

enter x : 1
enter y : 1
enter z : 1
enter n : 2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

In [3]:
x = int(input("enter x : "))
y = int(input("enter y : "))
z = int(input("enter z : "))
n = int(input("enter n : "))

list = [[X, Y, Z] for X in range(x+1) for Y in range(y+1) for Z in range(z+1) if (X + Y + Z) != n]
print(list)

enter x : 2
enter y : 2
enter z : 2
enter n : 2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2], [2, 0, 1], [2, 0, 2], [2, 1, 0], [2, 1, 1], [2, 1, 2], [2, 2, 0], [2, 2, 1], [2, 2, 2]]

# Find the Runner-Up Score!
Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given  scores. Store them in a list and find the score of the runner-up.

The first line contains n . The second line contains an array A[] of n integers each separated by a space.

2<=n<=10

-100<=A[i]<=100

In [45]:
n=int(input())

5

In [46]:
a=[]
for i in range(n):
    b=int(input())
    a.append(b)

2
4
6
6
5

In [49]:
a.sort(reverse=True)
a

[6, 6, 5, 4, 2]

In [53]:
for i in range(len(a)):
    if a[i]<a[1]:
        print(a[i])
        break

5

# nested list

Given the names and grades for each student in a class of N students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

Note: If there are multiple students with the second lowest grade, order their names alphabetically and print each name on a new line.

In [92]:
a = []
for i in range(int(input())):
  x, y = (input(),float(input()))
  a.append((y, x))
a.sort()

5
harsh
39
harry
37.21
akriti
41
tina
37.2
berry
37.21

In [93]:
a

[(37.2, 'tina'),
 (37.21, 'berry'),
 (37.21, 'harry'),
 (39.0, 'harsh'),
 (41.0, 'akriti')]

In [94]:
min=a[0]
for i in range(len(a)):
    if a[i]>min:
        s_min=a[i]
        break
        
s_min=s_min[0]
s_min

37.21

In [95]:
for i in range(len(a)):
    if a[i][0] == s_min:
        print(a[i][1])

berry
harry

# Finding the percentage

The provided code stub will read in a dictionary containing key/value pairs of name:[marks] for a list of students. Print the average of the marks array for the student name provided, showing 2 places after the decimal.

In [98]:
data = {}
for _ in range(int(input("how many students : "))):
    name, *marks = input("enter name and marks with spaces in between then :").split()
    data[name] = [float(m) for m in marks]
marks = data[input()]
print("%.2f" % (sum(marks)/len(marks)))

how many students : 3
enter name and marks with spaces in between then :harsh 23 43 23
enter name and marks with spaces in between then :aditya 23 43 54
enter name and marks with spaces in between then :aditi 32 54 34
aditya
40.00

# List
Consider a list (list = []). You can perform the following commands:

insert i e: Insert integer  at position .

print: Print the list.

remove e: Delete the first occurrence of integer .

append e: Insert integer  at the end of the list.

sort: Sort the list.

pop: Pop the last element from the list.

reverse: Reverse the list.

In [104]:
test =int(input("Enter number of time you want to perform function : "))
s=[]
for i in range (test):
    cmd=input("command")
    
    if cmd=='insert':
        s.insert(int(input("enter position ")),int(input("Enter number :")))
    elif cmd=="remove":
        s.remove(int(input("Enter removing number :")))
    elif cmd=="append":
        s.append(int(input("Enter adding number :")))
    elif cmd=="sort":
        s.sort()
    elif cmd=="pop":
        s.pop()
    elif cmd=="reverse":
        s.reverse()
    elif cmd=="count":
        v=s.count(int(input("Enter counting number :")))
        print(v)
    elif cmd=="index":
        x=s.index(int(input("Enter number for its index :")))
        print(x)
   
    elif cmd== 'print':
        print(s)

Enter number of time you want to perform function : 5
commandappend
Enter adding number :23
commandappend
Enter adding number :54
commandinsert
enter position 1
Enter number :56
commandcount
Enter counting number :56
1
commandprint
[23, 56, 54]

# tuple 
Task
Given an integer,n, and n space-separated integers as input, create a tuple,t, of those n integers. Then compute and print the result ofhast(t) .

In [107]:
input()
l = map(int, input().strip().split(" "))
print(hash(tuple(l)))

4
1 2 3 4
590899387183067792

# intro to sets

Now, let's use our knowledge of sets and help Mickey.

Ms. Gabriel Williams is a botany professor at District College. One day, she asked her student Mickey to compute the average of all the plants with distinct heights in her greenhouse.

#### Input Format

The first line contains the integer,N , the size of arr.

The second line contains the N space-separated integers, arr[i].

In [113]:
nop = int(input("number of plants in greenhouse : "))
ph= map(int, input("enter heights with spaces").split())

distinct_heights = set(ph)
average = sum(distinct_heights) / len(distinct_heights)
print("%.3f" %average)

number of plants in greenhouse : 7
enter heights with spaces123 234 345 321 345 237 532
298.667

# set operations

In [114]:
N = int(input("size of N list : "))
N_list = map(int, input().split(' '))
M = int(input("size of second list : "))
M_list = map(int, input().split(' '))

N_set = set(N_list)
M_set = set(M_list)

print(N_set.symmetric_difference(M_set))

size of N list : 4
23 43 54 65
size of second list : 6
23 43 57 53 33
{33, 65, 53, 54, 57}

In [116]:
N_set.add(100)
N_set

{23, 43, 54, 65, 100}

In [117]:
N_set.remove(100)
N_set

{23, 43, 54, 65}

In [118]:
N_set.discard(54)
N_set

{23, 43, 65}

In [119]:
M_set.pop()
M_set

{23, 43, 53, 57}

In [120]:
N_set.union(M_set)

{23, 43, 53, 57, 65}

In [121]:
N_set.intersection(M_set)

{23, 43}

In [122]:
M_set.difference(N_set)

{53, 57}

In [123]:
M_set.issubset(N_set)

False

In [124]:
M_set.issuperset(N_set)

False

In [125]:
M_set.isdisjoint(N_set)

False

In [128]:
H = set("Hacker")
R = set("Rank")
H.update(R)
print(H)

{'e', 'R', 'c', 'H', 'n', 'k', 'a', 'r'}

In [130]:
H.difference_update(R)
H

{'H', 'c', 'e', 'r'}

# The Captain's Room

Mr. Anant Asankhya is the manager at the INFINITE hotel. The hotel has an infinite amount of rooms.

One fine day, a finite number of tourists come to stay at the hotel.
The tourists consist of:

→ A Captain.

→ An unknown group of families consisting of K members per group where K ≠ 1 .

The Captain was given a separate room, and the rest were given one room per group.

Mr. Anant has an unordered list of randomly arranged room entries. The list consists of the room numbers for all of the tourists. The room numbers will appear K times per group except for the Captain's room.

Mr. Anant needs you to help him find the Captain's room number.
The total number of tourists or the total number of groups of families is not known to you.
You only know the value of K and the room number list.

Input Format

The first line consists of an integer, K, the size of each group.

The second line contains the unordered elements of the room number list.

Output Format

Output the Captain's room number.

1<K<1000

In [134]:
k = int(input("enter number of groups : "))
room_nums = map(int, input("enter room numbers : ").split())

from collections import Counter
counts = Counter(room_nums)
for num, count in counts.items():
    if count ==1:
        print(num)
        break

enter number of groups : 3
enter room numbers : 5 6 7 5 6 7 5 6 7 5 6 7 3
3

In [135]:
counts

Counter({5: 4, 6: 4, 7: 4, 3: 1})